html {
    height: 100%;
    background-image: linear-gradient(#ff6161, #ff768c);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0f222d;
    background-size: auto;
}

.container {
    width: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

form {
    text-align: center;
}

input[type="text"] {
    outline: none;
    border: none;
    font-size: 1.5rem;
    width: 16rem;
    height: 3rem;
    float: left;
}

button {
    float: right;
    width: 3.85rem;
    height: 3.1rem;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: bold; 
    color: #53BDFF;
    cursor: pointer;
}

.task-list {
    background-color: white;
    margin-top: 1.5rem;
    padding: 0.3rem 3rem 1rem 0rem;
    display: none;
}

ul {
    list-style: none;
}

li {
    border-bottom: #53BDFF solid 0.08rem;
    padding-bottom: 0.8rem;
    padding-top: 0.5rem;
}

.delete {
    color: white;
    background-color: #ff6161;
    padding: 0rem 0.3rem 0.1rem 0.3rem;
    cursor: pointer;
}

.clear {
    float: right;
    color: #53BDFF;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

